
.vs/Calculator/v16/.suo
Plus/obj/Debug/netstandard2.0/Plus.csprojAssemblyReference.cache
.vs/Calculator/DesignTimeBuild/.dtbcache.v2
bin/Debug/Calculator.exe
.vs/Calculator/v16/.suo
bin/Debug/Calculator.exe.config
bin/Debug/Calculator.pdb
bin/Debug/Plus.dll
bin/Debug/Plus.pdb
bin/Debug/Pow.dll
bin/Debug/Pow.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/Calculator_MarkupCompile.lref
obj/Debug/Calculator.Properties.Resources.resources
obj/Debug/Calculator_MarkupCompile.cache
obj/Debug/Calculator.g.resources
obj/Debug/Calculator.pdb
obj/Debug/Calculator.exe
obj/Debug/Calculator.csprojAssemblyReference.cache
obj/Debug/Calculator.csproj.GenerateResource.cache
obj/Debug/Calculator.csproj.FileListAbsolute.txt
obj/Debug/Calculator.csproj.CopyComplete
obj/Debug/Calculator.csproj.CoreCompileInputs.cache
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
